<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pdsafe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDSafe">
        <activity android:name=".ToDoList"></activity>
        <activity android:name=".PersonalDetails" />
        <activity android:name=".PersonalInfo" />
        <activity android:name=".HeartAttackProcedure" />
        <activity android:name=".HospitalHotline_WestMY" />
        <activity android:name=".HospitalHotline_PeninsularMY" />
        <activity android:name=".ToDoLists" />
        <activity android:name=".FirstAidKit" />
        <activity android:name=".MinorBurnProcedure" />
        <activity android:name=".MinorWoundProcedure" />
        <activity android:name=".CardiacArrestProcedure" />
        <activity android:name=".BasicFirstAid" />
        <activity android:name=".EmergencyContact" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>